<h1>{{model.fullName}}</h1>
<p>Email: {{model.email}}</p>
<p>Twitter: {{model.twitter}}</p>
{{link-to 'Index' 'friends.index'}}
{{link-to 'Edit' 'friends.edit' model}}
<a href="#" {{action "delete" model}}>Delete</a>
